@model ProductVM

<form asp-controller="Product" asp-action="Add" method="post">

    <br /><br />



    <label>Name</label>
    <input type="text" asp-for="Name" asp-placeholder="Name" class="form-control" />

    <br />

    <label asp-for="Description"></label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    <label asp-for="Qty"></label>
    <input type="text" asp-for="Qty" class="form-control" />
    <br />

    <label asp-for="Unit"></label>
    <input type="text" asp-for="Unit" class="form-control" />
    <br />
    




    <a asp-controller="Product" asp-action="Index" class="btn btn-success">
        Back <i class="fas fa-caret-square-left"></i>

    </a>

    <button type="submit" class="btn btn-success">
        Add Product <i class="fas fa-plus"></i>
    </button>

</form>